
.img{
  display: flex;
    height: 49px;
    width: 97px;
    left: 48px;
    position: absolute;
}
.navv{
  display: flex;
    position: absolute;
    left: 160px;
    top: 12px;
}
.ins{
  text-decoration-line: none;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.right{
  position: fixed;
    right: 60px;
    top: 12px;
}
.button{
  color:white;
  background-color: blue;
  border-radius: 5px;
}
.css{
  position: fixed;
}
.price{
  top: 108px;
    left: 62px;
    position: absolute;
}
.box{
  display: flex;
}
.box-2{
  margin-left: 34px;
  margin-right: 34px;
  top: 26px;
  position: relative;
    left: 3px;
    border-radius: 13px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid blue;
    width: 294px;
    background-color: white;
}
.pricy{
  color: blue;
}
.box-1{
  top: 26px;
  position: relative;
    left: 3px;
    border-radius: 13px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid blue;
    width: 294px;
    background-color: white;
}
.basic{
  position: relative;
    bottom: 10px;
}
.billed{
  position: relative;
    bottom: 28px;
}
.list{
  position: relative;
    bottom: 21px;
    text-align: left;
    margin-right: 8px;
}
ul {
  list-style: none;
}
ul li:before {
  content: '\2714\0020';
  color: blue;
}
.ll{
  padding-bottom: 12px;
}
.get{
  background-color: blue;
    color: white;
    border-radius: 5px;
    padding-left: 66px;
    padding-right: 66px;
    padding-bottom: 5px;
    padding-top: 5px;
}
@media only screen and (max-width: 500px) {
  .htmll{
    scroll-behavior: smooth;
  }
  .para{
    width: 399px;
  }
  .img{
    display: flex;
    height: 73px;
    width: 100px;
    left: 4px;
      position: absolute;
  }
  .navv{
    content-visibility: hidden;
    display: flex;
      position: absolute;
      left: 160px;
      top: 12px;
  }
  .ins{
    text-decoration-line: none;
      padding: 16px;
      color: black;
      font-weight: bold;
      font-size: 12px;
  }
  .right{
    content-visibility: hidden;
    position: fixed;
      right: 60px;
      top: 12px;
  }
  .button{
    color:white;
    background-color: blue;
    border-radius: 5px;
  }
  .css{
    position: fixed;
  }
  .price{
    top: 108px;
    left: 24px;
    position: fixed;
  }
  .box{
    flex-wrap: wrap;
    display: flex;
  }
  .box-2{
    margin-left: 34px;
    margin-right: 34px;
    top: 53px;
    position: relative;
    left: -29px;
    border-radius: 13px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid blue;
    width: 391px;
    background-color: white;
  }
  .pricy{
    color: blue;
  }
  .box-1{
    top: 26px;
    position: relative;
      left: 3px;
      border-radius: 13px;
      padding-bottom: 20px;
      text-align: center;
      border: 2px solid blue;
      width: 391px;
      background-color: white;
  }
  .basic{
    position: relative;
      bottom: 10px;
  }
  .billed{
    position: relative;
      bottom: 28px;
  }
  .list{
    position: relative;
      bottom: 21px;
      text-align: left;
      margin-right: 8px;
  }
  ul {
    list-style: none;
  }
  ul li:before {
    content: '\2714\0020';
    color: blue;
  }
  .ll{
    padding-bottom: 12px;
  }
  .get{
    background-color: blue;
      color: white;
      border-radius: 5px;
      padding-left: 66px;
      padding-right: 66px;
      padding-bottom: 5px;
      padding-top: 5px;
  }
  }
  .site-mobile-menu-icon-button {
    background: none;
    border: none;
    height: 32px;
    width: 24px;
    margin-left: auto;
    padding: 9px 0;}
    button, html input[type=button], input[type=reset], input[type=submit] {
      cursor: pointer;
      -webkit-appearance: button;
  }
  
  button, select {
      text-transform: none;
  }
  button {
      overflow: visible;
      border: none;
  }
  button, input, optgroup, select, textarea {
      margin: 0;
      color: inherit;
      font: inherit;
  }
  *, :after, :before {
      box-sizing: inherit;
  }